# The total number of replicas you want, the first 
# replica will be a primary and the rest will be 
# secondary.
replicas: 3

# Postgres-compatible image you want to deploy.
image: 
  repository: postgres
  tag: "14.5"

# Port to make the Databases available on.
port: 5432

# Size to make each database.
size: 50Mi

# Name of the StorageClass object you want to use.
storageClassName: standard

# Where to mount the persistent volumes
volumeMount: /var/lib/postgres/data

# If true the primary and replica pods will not attempt 
# to failover and fix themselves. 
failoverEnabled: true

# The name of a replica pod you would like to promote as
# the primary.
promotePodToPrimary: ""

# The name of a configMap you want to use to define
# defaults for your postgres databases. 
# See Kubegres Docs for information on how to implement
# custom init and backup scripts: 
# https://www.kubegres.io/doc/override-default-configs.html
customConfigMap: ""

# Backup settings
backup:
  # true if you want to enable backups to a persistent volume
  # claim
  enabled: true

  # cron schedule to backup on.
  schedule: "0 0 1 */1 *"

  # false if you want to use an existing PVC, true if you want
  # to create a new PVC now.
  createPvc: true

  # false if you want to use an existing PV, true if you want
  # to create a new PV now.
  createPv: true
  
  # set this if you are using an existing PV. If createPv is
  # true then leave this blank.
  backupPvName: ""

  # set this if you are using an existing PVC. If createPvc is
  # true then leave this blank.
  backupPvcName: ""

  # Where on the backup PVC you want to store the backup.
  backupVolumeMount: "/var/lib/backup"

  # StorageClass to use for PVC.
  backupStorageClass: "standard"

  # Size of the PV.
  backupPvSize: "2Gi"

  # How much of PV to claim for this PVC.
  backupPvcSize: "1Gi"


secrets:
  # true if you want to create randomly generated secrets
  createSecrets: true

  # If you have database secrets already created for your
  # primary and replica databases, set the below values.

  # The secret name and key for the primary database.
  customSuperUserSecretName: ""
  customSuperUserSecretValue: ""

  # The secret name and key for the replica database(s).
  customReplicaUserSecretName: ""
  customReplicaUserSecretValue: ""
  
# Any custom environmentVariables you want injected into 
# your db containers.
environmentVariables:
  - name: custom-env-var
    value: env-var-value

